<div class="navbar-dark">
    <button routerLink="/main/c" routerLinkActive="activeLink" class="btn btn-outline-primary  col-md-3">c tests</button>
    <button routerLink="/main/algebra" routerLinkActive="activeLink" class="btn btn-outline-primary  col-md-3">linear algebra tests </button>
    <button routerLink="/main/statistic" routerLinkActive="activeLink" class="btn btn-outline-primary  col-md-3">statistics tests</button>
    <button routerLink="/main/classify/{{avi}}" routerLinkActive="activeLink" class="btn btn-outline-dark  col-md-3">classsify </button>
  </div>
      <router-outlet></router-outlet>